<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Connected CS</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/historique" routerLinkActive="active">Historique <span class="sr-only"></span></a>
        </li>
        <li><a routerLink="/map" routerLinkActive="active">Carte <span class="sr-only"></span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-default navbar-btn" routerLink="/profil/register"
                routerLinkActive="active">
          S'enregistrer
        </button>
        <button type="button" class="btn btn-default navbar-btn" routerLink="/profil/login" routerLinkActive="active">
          S'identifier
        </button>
        <button class="btn btn-default navbar-btn" routerLink="/myevent" routerLinkActive="active" type="button">
          Mes events
        </button>
        <button class="btn btn-default navbar-btn" type="button">
          <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>

        </button>
        <button class="btn btn-primary" type="button">
          Messages <span class="badge">1</span>
        </button>
      </ul>
    </div>
  </div>
</nav>
