<div class="container">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
           class="form-control" #search>
  </div>
  <agm-map #map [latitude]="latitude" [longitude]="longitude" [usePanning]="autoChange" [panControl]="autoChange" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    <app-core-map-content (onMapLoad)='loadAPIWrapper($event)'></app-core-map-content>
  </agm-map>

  <br> <br>
  <button type="submit" class="btn btn-default" (click)="savePosition()">Save</button>
  <br> <br>
  <div class="col-md-6">
    <table class="table table-dark table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" *ngFor="let data of positions">
        <td>
          {{ data.id }}
        </td>
        <td>
          {{ data.longitude }}
        </td>
        <td>
          {{ data.latitude }}
        </td>
        <td>
          <a (click)="showOnMap(data.id)" >Map</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
