<div class="col-md-3">
  <div class="panel panel-default ">
    <div class="panel-heading"> Verify</div>
    <div class="panel-body">

      <form (ngSubmit)="verifyClient()">
        <div class="form-group">
          <label for="id_m">Id </label>
          <input type="text" [(ngModel)]="id" placeholder="Votre Id" class="form-control" name="id_m" id="id_m">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <div [hidden]="!isResponse">
        <p>{{ verifyModel.status }}</p>
        <p>{{ verifyModel.isVerified }}</p>
      </div>

      <div [hidden]="!isError">
        <p>Erreur ... </p>
      </div>

    </div>
  </div>
</div>
