<div class="row">
  <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-default btn-lg dropdown-toggle"
                routerLink="/event/create" routerLinkActive="active"
                type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Creer un event
        </button>
    <button class="btn btn-default btn-lg dropdown-toggle"
            routerLink="/join" routerLinkActive="active"
            type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Rejoindre un event
        </button>
  </div>
</div>

